<h2 class="text-center">¡Gracias por contactar! Uno de nuestros administradores le responderan en el correo adjuntado.</h2>

<a href="../Home/Home"><p class="text-center">Haz click aquí para volver a Home</p></a>