@{
    ViewBag.Title = "Gracias por contactar";
    ViewBag.PageName = "EmailThanks";
}
<h2 class="text-center">¡Gracias por contactar! </h2>
<p class="text-center">Uno de nuestros administradores le responderán en el correo adjuntado.</p>
<a href="../Home/Home"><p class="text-center">Haz click aquí para volver a Home</p></a>