footer {
    position: fixed;
    bottom: 0;
}
/*title*/
#title {
    display: flex;
    background: #343a40;
    color: white;
    text-shadow: 0 0 10px black;
    padding: 10px;
}
#title em{
    color: #f33f3f;
}
/*home carousel*/
.carousel-caption {
    background-color: #282828;
    opacity: 0.75;
    padding: 0;
}
.carousel-indicators {
    margin-bottom: 0;
}
