@font-face {
    font-family: 'Magic Dreams';
    src: local('Magic Dreams'), url('../fonts/Magic-Dreams.ttf');
}
footer {
    position: fixed;
    bottom: 0;
}
/*title*/
#title {
    display: flex;
    background: #343a40;
    padding: 20px;
    font-size: 4.5rem;
    color: white;
    text-shadow: 0 0 10px black;
    font-family: 'Magic Dreams';
}

    #title em {
        color: #f33f3f;
    }
/*home carousel*/
.carousel-caption {
    background-color: #282828;
    opacity: 0.85;
    padding: 0;
    right: 0%;
    left: 0%;
    width: 100%;
}

.carousel-indicators {
    margin-bottom: 0;
}
/*home last games*/
.game-last-tittle {
    font-size: 20px;
    color: #1a6692;
    font-weight: bold;
}

.game-last-price {
    color: #121212;
    font-size: 21px;
}
.card-text:last-child {
    margin-bottom: 16px;
}
.game-last-logo {
    width: 120px;
}

/*List images*/
.img-thumbnail {
    width: 300px;
    align-content: center;
}
/*Logo user*/
.logoUser {
    width: 150px;
    height: 150px;
}