footer {
    position: fixed;
    bottom: 0;
}
/*title*/
#title {
    display: flex;
    background: #343a40;
    color: white;
    text-shadow: 0 0 10px black;
    padding: 10px;
}

#title em {
    color: #f33f3f;
}
/*home carousel*/
.carousel-caption {
    background-color: #282828;
    opacity: 0.75;
    padding: 0;
}

.carousel-indicators {
    margin-bottom: 0;
}
/*home last games*/
.game-last-tittle {
    font-size: 20px;
    color: #1a6692;
    font-weight:bold;
}

.game-last-price {
    color: #121212;
    font-size:21px;
}

.game-last-logo{
    width:120px;
    margin-bottom:8px;
    margin-top:15px;
}

/*List images*/
.img-thumbnail {
    width: 300px;
    align-content: center;
}