@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row justify-content-center">

        @*Carousel*@
        <div class="col-12 p-0 col-md-6 p-md-4">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Client/shared/img/carousel-resident_evil_3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <span>Nulla vitae elit libero, a pharetra augue mollis interdum.</span>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Client/shared/img/carousel-final_fantasy_7_remake.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Client/shared/img/carousel-borderlands-3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <span>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</span>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>
</div>

<h2>Novedades</h2>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Carátula</th>
                <th scope="col">Título</th>
                <th scope="col">Plataforma</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>[img]</td>
                <td>Nintendogs edición Aslan</td>
                <td>Nintendo ds</td>
                <td>40€</td>
            </tr>
            <tr>
                <td>[img]</td>
                <td>Pokemon Aslan</td>
                <td>Nintendo Switch</td>
                <td>60€</td>
            </tr>
            <tr>
                <td>[img]</td>
                <td>Ha sido el Lucas</td>
                <td>PC</td>
                <td>20€</td>
            </tr>
        </tbody>
    </table>


<div class="album py-5 bg-light">
    <div class="container">
        <h2>Últimos lanzamientos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/Client/shared/img/carousel-resident_evil_3.jpg" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="game-last-tittle">
                                    <p class="card-text">Nintendogs: Aslan edition</p>
                                </div>
                            </div>
                            <p class="game-last-price">30€</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">

                            <p class="card-text">Sumergete en el emocionante mundo de los perretes.</p>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            <img src="~/Client/shared/img/LogoDS.png" class="game-last-logo" alt="...">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="card-text" href="">Acción</a>
                            </div>
                            <a class="card-text" href="">Aventura</a>
                        </div>

                        <div class="game-last-stadistics">
                            <div class="d-flex justify-content-between align-items-center">

                                <div class="btn-group">
                                    <small class="text-muted">10 positivos</small>
                                </div>
                                <small class="text-muted">Comentarios(30)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/Client/shared/img/carousel-resident_evil_3.jpg" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="game-last-tittle">
                                    <p class="card-text">Nintendogs: Aslan edition</p>
                                </div>
                            </div>
                            <p class="game-last-price">30€</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">

                            <p class="card-text">Sumergete en el emocionante mundo de los perretes.</p>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            <img src="~/Client/shared/img/Logops4.png" class="game-last-logo" alt="...">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="card-text" href="">Acción</a>
                            </div>
                            <a class="card-text" href="">Aventura</a>
                        </div>

                        <div class="game-last-stadistics">
                            <div class="d-flex justify-content-between align-items-center">

                                <div class="btn-group">
                                    <small class="text-muted">10 positivos</small>
                                </div>
                                <small class="text-muted">Comentarios(30)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/Client/shared/img/carousel-resident_evil_3.jpg" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="game-last-tittle">
                                    <p class="card-text">Nintendogs: Aslan edition</p>
                                </div>
                            </div>
                            <p class="game-last-price">30€</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">

                            <p class="card-text">Sumergete en el emocionante mundo de los perretes.</p>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            <img src="~/Client/shared/img/LogoDS.png" class="game-last-logo" alt="...">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="card-text" href="">Acción</a>
                            </div>
                            <a class="card-text" href="">Aventura</a>
                        </div>

                        <div class="game-last-stadistics">
                            <div class="d-flex justify-content-between align-items-center">

                                <div class="btn-group">
                                    <small class="text-muted">10 positivos</small>
                                </div>
                                <small class="text-muted">Comentarios(30)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/Client/shared/img/carousel-resident_evil_3.jpg" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="game-last-tittle">
                                    <p class="card-text">Nintendogs: Aslan edition</p>
                                </div>
                            </div>
                            <p class="game-last-price">30€</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">

                            <p class="card-text">Sumergete en el emocionante mundo de los perretes.</p>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            <img src="~/Client/shared/img/LogoDS.png" class="game-last-logo" alt="...">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="card-text" href="">Acción</a>
                            </div>
                            <a class="card-text" href="">Aventura</a>
                        </div>

                        <div class="game-last-stadistics">
                            <div class="d-flex justify-content-between align-items-center">

                                <div class="btn-group">
                                    <small class="text-muted">10 positivos</small>
                                </div>
                                <small class="text-muted">Comentarios(30)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/Client/shared/img/carousel-resident_evil_3.jpg" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="game-last-tittle">
                                    <p class="card-text">Nintendogs: Aslan edition</p>
                                </div>
                            </div>
                            <p class="game-last-price">30€</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">

                            <p class="card-text">Sumergete en el emocionante mundo de los perretes.</p>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            <img src="~/Client/shared/img/LogoDS.png" class="game-last-logo" alt="...">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="card-text" href="">Acción</a>
                            </div>
                            <a class="card-text" href="">Aventura</a>
                        </div>

                        <div class="game-last-stadistics">
                            <div class="d-flex justify-content-between align-items-center">

                                <div class="btn-group">
                                    <small class="text-muted">10 positivos</small>
                                </div>
                                <small class="text-muted">Comentarios(30)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/Client/shared/img/carousel-resident_evil_3.jpg" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="game-last-tittle">
                                    <p class="card-text">Nintendogs: Aslan edition</p>
                                </div>
                            </div>
                            <p class="game-last-price">30€</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">

                            <p class="card-text">Sumergete en el emocionante mundo de los perretes.</p>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            <img src="~/Client/shared/img/LogoDS.png" class="game-last-logo" alt="...">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="card-text" href="">Acción</a>
                            </div>
                            <a class="card-text" href="">Aventura</a>
                        </div>

                        <div class="game-last-stadistics">
                            <div class="d-flex justify-content-between align-items-center">

                                <div class="btn-group">
                                    <small class="text-muted">10 positivos</small>
                                </div>
                                <small class="text-muted">Comentarios(30)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="card-text" href="">Mostrar más</a>
        </div>
    </div>
</div>


