@{
    ViewBag.Title = "Correo enviado";
    ViewBag.PageName = "CorrectSend";
}
<h2 class="text-center">Correo enviado correctamente, revisa tu email</h2>
<a href="../Home/Home"><p class="text-center">Haz click aquí para volver a home</p></a>


