@using GAMES_MARKET.Models;
@model  UsuariosModel
@{
    ViewBag.Title = "Formulario de registro";
    ViewBag.PageName = "Register";
}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-lg-3 col-lg-4 justify-content-center">
            <h2 class="m-md-3 text-center">Registro</h2>

            <form action="Register" method="POST">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="nombre">
                </div>
                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" class="form-control" name="apellidos">
                </div>
                <div class="form-group">
                    <label>Correo electrónico</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" name="contrasena">
                </div>
                <div class="form-group">
                    <label>Confirmar Contraseña</label>
                    <input type="password" class="form-control" name="contrasena2">
                </div>
                <span class="text-danger">@ViewBag.error</span>
                <button type="submit" class="btn w-100 mb-5">Enviar</button>
            </form>

        </div>
    </div>
</div>