@using GAMES_MARKET.Models;
@model UsuariosModel
@{
    ViewBag.Title = "Profile";
}
<h2 class="m-3 text-center">Perfil</h2>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Email:@Model.email</p>
                <p>Nombre:@Model.nombre</p>
                <p>Apellidos:@Model.apellidos</p>
            </div>
        </div>
    </div>
</section>