<section>
    <h2 class="m-md-3 text-center">Sobre nosotros</h2>
    <div class="container">
        <div class="row">
            <div class="d-none d-md-block col-md-4">
                <img class="img-fluid" src="~/Client/shared/img/about-deco.jpg" alt="poster decorativo"/>
            </div>
            <div class="col-12 col-md-8">
                <img class="rounded mx-auto my-5 d-block" src="~/Client/shared/img/logos/LogoGamesMarket.png" alt="logo de la empresa" />
                <p>Somos una empresa dedicada a la venta venta digital de videojuegos. La idea surgio del proyecto surgio a partir del trabajo final de grado, de nuestra pasión por el mundo de los videojuegos y del potencial que le vimos a este negocio a raíz del confinamiento por COVID-19.</p>
                <p>Gracias a la venta digital reducimos el gasto de recursos en logística, por lo que los costes de transportes son nulos y podemos comprometernos con el medio ambiente. Apostamos por un modelo de negocio ecologico y dando máxima comodid a los clientes.</p>
            </div>
        </div>
    </div>
</section>
