<h2 class="text-center">Compra completada</h2>
<p class="text-center">La compra ha sido completada satisfactoriamente! Hemos un email con el código a su email de contacto. Tambien puede encontrarlo en su lista de compras.</p>
