@{
    ViewBag.Title = "Compra completada";
    ViewBag.PageName = "BuyCompleted";
}
<h2 class="text-center">Compra completada</h2>
<p class="text-center">La compra ha sido completada satisfactoriamente. Hemos un email con el código a su email de contacto. También puede encontrarlo en su apartado ''Mis Juegos''.</p>
<a href="../Home/Home"><p class="text-center">Haz click aquí para volver a Home</p></a>