USE [master]
GO
/****** Object:  Database [Games_Market]    Script Date: 15/05/2020 17:33:45 ******/
CREATE DATABASE [Games_Market]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Games_Market', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Games_Market.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Games_Market_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Games_Market_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Games_Market].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Games_Market]
GO
/****** Object:  Table [dbo].[capturas]    Script Date: 15/05/2020 17:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[capturas](
	[id_captura] [int] IDENTITY(1,1) NOT NULL,
	[id_juego] [int] NOT NULL,
	[img_ruta] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_capturas] PRIMARY KEY CLUSTERED 
(
	[id_captura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[claves]    Script Date: 15/05/2020 17:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[claves](
	[id_clave] [int] NOT NULL,
	[id_juego] [int] NOT NULL,
	[codigo] [nvarchar](max) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_claves_1] PRIMARY KEY CLUSTERED 
(
	[id_clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comentarios]    Script Date: 15/05/2020 17:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comentarios](
	[id_comentario] [int] IDENTITY(1,1) NOT NULL,
	[id_juego] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[comentario] [nvarchar](max) NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_comentarios_1] PRIMARY KEY CLUSTERED 
(
	[id_comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[descuentos]    Script Date: 15/05/2020 17:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[descuentos](
	[id_descuento] [int] IDENTITY(1,1) NOT NULL,
	[id_juego] [int] NOT NULL,
	[descuento] [int] NOT NULL,
	[inicio] [date] NOT NULL,
	[fin] [date] NOT NULL,
	[img_ruta] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_descuentos_1] PRIMARY KEY CLUSTERED 
(
	[id_descuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deseados]    Script Date: 15/05/2020 17:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deseados](
	[id_juego] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_deseados] PRIMARY KEY CLUSTERED 
(
	[id_juego] ASC,
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generos]    Script Date: 15/05/2020 17:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generos](
	[id_genero] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_generos] PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generos_juegos]    Script Date: 15/05/2020 17:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generos_juegos](
	[id_generos_juegos] [int] IDENTITY(1,1) NOT NULL,
	[id_genero] [int] NOT NULL,
	[id_juego] [int] NOT NULL,
 CONSTRAINT [PK_genero-juegos] PRIMARY KEY CLUSTERED 
(
	[id_generos_juegos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[juegos]    Script Date: 15/05/2020 17:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[juegos](
	[id_juego] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NOT NULL,
	[id_plataforma] [int] NOT NULL,
	[precio] [numeric](5, 2) NOT NULL,
	[img_ruta] [nvarchar](max) NOT NULL,
	[trailer_url] [nvarchar](max) NOT NULL,
	[distribuidora] [nvarchar](max) NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
	[fecha_lanzamiento] [date] NOT NULL,
 CONSTRAINT [PK_juegos_1] PRIMARY KEY CLUSTERED 
(
	[id_juego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[plataformas]    Script Date: 15/05/2020 17:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plataformas](
	[id_plataforma] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NOT NULL,
	[img_ruta] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_plataformas] PRIMARY KEY CLUSTERED 
(
	[id_plataforma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 15/05/2020 17:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NOT NULL,
	[apellidos] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[contrasena] [nvarchar](max) NOT NULL,
	[token] [nvarchar](max) NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[valoraciones]    Script Date: 15/05/2020 17:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[valoraciones](
	[id_juego] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[valoracion] [int] NOT NULL,
 CONSTRAINT [PK_valoraciones_1] PRIMARY KEY CLUSTERED 
(
	[id_juego] ASC,
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 15/05/2020 17:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_clave] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha_venta] [date] NOT NULL,
	[tarj] [nvarchar](max) NOT NULL,
	[tarj_mes] [nvarchar](max) NOT NULL,
	[tarj_ano] [nvarchar](max) NOT NULL,
	[cod_seg] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ventas] PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[capturas] ON 

INSERT [dbo].[capturas] ([id_captura], [id_juego], [img_ruta]) VALUES (1, 1, N'the-witcher-3-wild-hunt-captura1.jpg')
INSERT [dbo].[capturas] ([id_captura], [id_juego], [img_ruta]) VALUES (2, 1, N'the-witcher-3-wild-hunt-captura2.jpg')
INSERT [dbo].[capturas] ([id_captura], [id_juego], [img_ruta]) VALUES (4, 6, N'FinalFantasyVIIRemake-captura1.jpg')
SET IDENTITY_INSERT [dbo].[capturas] OFF
SET IDENTITY_INSERT [dbo].[comentarios] ON 

INSERT [dbo].[comentarios] ([id_comentario], [id_juego], [id_usuario], [comentario], [fecha]) VALUES (1, 1, 4, N'Menuda ambientación! Me han encantado las aventuras del Gerardo el Magias, te hace sentir todo un brujero y se te pasan las horas volando.', CAST(N'2020-05-13T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[comentarios] OFF
SET IDENTITY_INSERT [dbo].[descuentos] ON 

INSERT [dbo].[descuentos] ([id_descuento], [id_juego], [descuento], [inicio], [fin], [img_ruta]) VALUES (2, 6, 20, CAST(N'2020-05-01' AS Date), CAST(N'2020-06-30' AS Date), N'FinalFantasyVIIRemake.jpg')
INSERT [dbo].[descuentos] ([id_descuento], [id_juego], [descuento], [inicio], [fin], [img_ruta]) VALUES (3, 8, 5, CAST(N'2020-05-01' AS Date), CAST(N'2020-06-30' AS Date), N'AnimalCrossingNewHorizonsjpg.jpg')
SET IDENTITY_INSERT [dbo].[descuentos] OFF
SET IDENTITY_INSERT [dbo].[generos] ON 

INSERT [dbo].[generos] ([id_genero], [nombre]) VALUES (1, N'Acción')
INSERT [dbo].[generos] ([id_genero], [nombre]) VALUES (2, N'Aventura')
INSERT [dbo].[generos] ([id_genero], [nombre]) VALUES (3, N'Puzzles')
SET IDENTITY_INSERT [dbo].[generos] OFF
SET IDENTITY_INSERT [dbo].[generos_juegos] ON 

INSERT [dbo].[generos_juegos] ([id_generos_juegos], [id_genero], [id_juego]) VALUES (1, 1, 9)
INSERT [dbo].[generos_juegos] ([id_generos_juegos], [id_genero], [id_juego]) VALUES (2, 2, 1)
INSERT [dbo].[generos_juegos] ([id_generos_juegos], [id_genero], [id_juego]) VALUES (3, 2, 8)
SET IDENTITY_INSERT [dbo].[generos_juegos] OFF
SET IDENTITY_INSERT [dbo].[juegos] ON 

INSERT [dbo].[juegos] ([id_juego], [nombre], [id_plataforma], [precio], [img_ruta], [trailer_url], [distribuidora], [descripcion], [fecha_lanzamiento]) VALUES (1, N'The witcher 3: Wild hunt', 1, CAST(11.99 AS Numeric(5, 2)), N'TheWitcherWildHuntCompleteEdition.jpg', N'https://www.youtube.com/embed/XHrskkHf958', N'CD PROJEKT RED', N'Mientras la guerra se extiende por los Reinos del Norte, aceptarás el contrato de tu vida: encontrar a la niña de la profecía, un arma viviente que puede alterar el mundo tal y como lo conocemos.', CAST(N'2015-05-19' AS Date))
SET IDENTITY_INSERT [dbo].[juegos] OFF
SET IDENTITY_INSERT [dbo].[plataformas] ON 

INSERT [dbo].[plataformas] ([id_plataforma], [nombre], [img_ruta]) VALUES (1, N'Steam', N'LogoSteam.png')
INSERT [dbo].[plataformas] ([id_plataforma], [nombre], [img_ruta]) VALUES (5, N'EpicGames', N'LogoEpicGames.png')
INSERT [dbo].[plataformas] ([id_plataforma], [nombre], [img_ruta]) VALUES (6, N'PlayStation 4', N'LogoPS4.png')
SET IDENTITY_INSERT [dbo].[plataformas] OFF
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellidos], [email], [contrasena], [token]) VALUES (1, N'mari', N'ya funciona', N'asd@asd.com', N'aslan', NULL)
INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellidos], [email], [contrasena], [token]) VALUES (2, N'David', N'Martín', N'dmartin@ibadia.cat', N'gamesm20', NULL)
INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellidos], [email], [contrasena], [token]) VALUES (3, N'juan', N'juanillo', N'juan123@asd.com', N'asdasd', NULL)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
ALTER TABLE [dbo].[capturas]  WITH CHECK ADD  CONSTRAINT [FK_capturas_capturas] FOREIGN KEY([id_juego])
REFERENCES [dbo].[juegos] ([id_juego])
GO
ALTER TABLE [dbo].[capturas] CHECK CONSTRAINT [FK_capturas_capturas]
GO
ALTER TABLE [dbo].[claves]  WITH CHECK ADD  CONSTRAINT [FK_claves_juegos] FOREIGN KEY([id_juego])
REFERENCES [dbo].[juegos] ([id_juego])
GO
ALTER TABLE [dbo].[claves] CHECK CONSTRAINT [FK_claves_juegos]
GO
ALTER TABLE [dbo].[comentarios]  WITH CHECK ADD  CONSTRAINT [FK_comentarios_juegos] FOREIGN KEY([id_juego])
REFERENCES [dbo].[juegos] ([id_juego])
GO
ALTER TABLE [dbo].[comentarios] CHECK CONSTRAINT [FK_comentarios_juegos]
GO
ALTER TABLE [dbo].[comentarios]  WITH CHECK ADD  CONSTRAINT [FK_comentarios_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[comentarios] CHECK CONSTRAINT [FK_comentarios_usuarios]
GO
ALTER TABLE [dbo].[descuentos]  WITH CHECK ADD  CONSTRAINT [FK_descuentos_juegos] FOREIGN KEY([id_juego])
REFERENCES [dbo].[juegos] ([id_juego])
GO
ALTER TABLE [dbo].[descuentos] CHECK CONSTRAINT [FK_descuentos_juegos]
GO
ALTER TABLE [dbo].[deseados]  WITH CHECK ADD  CONSTRAINT [FK_deseados_juegos] FOREIGN KEY([id_juego])
REFERENCES [dbo].[juegos] ([id_juego])
GO
ALTER TABLE [dbo].[deseados] CHECK CONSTRAINT [FK_deseados_juegos]
GO
ALTER TABLE [dbo].[deseados]  WITH CHECK ADD  CONSTRAINT [FK_deseados_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[deseados] CHECK CONSTRAINT [FK_deseados_usuarios]
GO
ALTER TABLE [dbo].[generos_juegos]  WITH CHECK ADD  CONSTRAINT [FK_genero-juegos_juegos] FOREIGN KEY([id_juego])
REFERENCES [dbo].[juegos] ([id_juego])
GO
ALTER TABLE [dbo].[generos_juegos] CHECK CONSTRAINT [FK_genero-juegos_juegos]
GO
ALTER TABLE [dbo].[generos_juegos]  WITH CHECK ADD  CONSTRAINT [FK_generos-juegos_generos] FOREIGN KEY([id_genero])
REFERENCES [dbo].[generos] ([id_genero])
GO
ALTER TABLE [dbo].[generos_juegos] CHECK CONSTRAINT [FK_generos-juegos_generos]
GO
ALTER TABLE [dbo].[juegos]  WITH CHECK ADD  CONSTRAINT [FK_juegos_plataformas] FOREIGN KEY([id_plataforma])
REFERENCES [dbo].[plataformas] ([id_plataforma])
GO
ALTER TABLE [dbo].[juegos] CHECK CONSTRAINT [FK_juegos_plataformas]
GO
ALTER TABLE [dbo].[valoraciones]  WITH CHECK ADD  CONSTRAINT [FK_valoraciones_juegos] FOREIGN KEY([id_juego])
REFERENCES [dbo].[juegos] ([id_juego])
GO
ALTER TABLE [dbo].[valoraciones] CHECK CONSTRAINT [FK_valoraciones_juegos]
GO
ALTER TABLE [dbo].[valoraciones]  WITH CHECK ADD  CONSTRAINT [FK_valoraciones_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[valoraciones] CHECK CONSTRAINT [FK_valoraciones_usuarios]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK_claves_ventas] FOREIGN KEY([id_clave])
REFERENCES [dbo].[claves] ([id_clave])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK_claves_ventas]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK_ventas_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK_ventas_usuarios]
GO
USE [master]
GO
