<div class="container">
    <div class="col-12">
        <h2 class="d-flex justify-content-center m-5">Política de Cookies</h2>
        <p class="font-weight-bold">
            GAMES MARKET informa acerca del uso de las cookies en sus páginas web.
        </p>
        <p>
            Las cookies son archivos que se pueden descargar en su equipo a través de las páginas web. Son herramientas que tienen un papel esencial para la prestación de numerosos servicios de la sociedad de la información. Entre otros, permiten a una página web almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información obtenida, se pueden utilizar para reconocer al usuario y mejorar el servicio ofrecido.
            Visitar las páginas web de GAMES MARKET con su navegador configurado para aceptar cookies nos indica su conformidad para hacer uso de nuestros servicios, así como su consentimiento al uso de cookies por parte de GAMES MARKET para poder darle un mejor servicio.
        </p>
        <h3>1. Tipos de cookies</h3>
        <p>
            Según quien sea la entidad que gestione el dominio desde donde se envían las cookies y trate los datos que se obtengan se pueden distinguir dos tipos: cookies propias y cookies de terceros.
        </p>
        <p>
            Existe también una segunda clasificación según el plazo de tiempo que permanecen almacenadas en el navegador del cliente, pudiendo tratarse de cookies de sesión o cookies persistentes.
        </p>
        <p>
            Por último, existe otra clasificación con cinco tipos de cookies según la finalidad para la que se traten los datos obtenidos: cookies técnicas, cookies de personalización, cookies de análisis, cookies publicitarias y cookies de publicidad basada en comportamientos. Para más información a este respecto puede consultar la <a class="a" href="https://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf">Guía sobre el uso de las cookies de la Agencia Española de Protección de Datos</a>.
        </p>
        <h3>
            <span>2. Cookies utilizadas en la web</span>
        </h3>
        <p>
            En GAMER MARKET utilizamos una cookie técnica para gestionar el consentimiento del usuario al uso de las cookies de la web y una cookie de sesión para reconocer al iniciar sesión.
        </p>
        <h3>
            3. Ajustes del navegador
        </h3>
        <p>
            La mayoría de navegadores indican en la función ayuda cómo configurar su navegador para que no acepte cookies, para ser notificado cada vez que reciba una nueva cookie o para desactivarlas completamente. También puede eliminar, deshabilitar o revocar datos similares que son utilizados por las extensiones de su navegador (add-on), tales como las Flash Cookies. Para ello puede cambiar la configuración de dichas extensiones o visitar el sitio web de su fabricante.
        </p>
        <h3>
            4. Aceptación de la Política de cookies
        </h3>
        <p>
            GAMES MARKET asume que usted acepta el uso de cookies. No obstante, muestra información sobre su Política de cookies en la parte inferior de cualquier página del portal.
        </p>
    </div>
</div>

    