@{
    ViewBag.Title = "List Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Cáratula</th>
                        <th scope="col">Título</th>
                        <th scope="col">Plataforma</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="w-25">
                            <img src="~/Client/shared/img/carousel-resident_evil_3.jpg" alt="..." class="img-thumbnail">
                        </td>
                        <td>Nintendogs edición Aslan</td>
                        <td>  <img src="~/Client/shared/img/LogoDS.png" class="game-last-logo" alt="..."></td>
                        <td>30€</td>
                    </tr>
                    <tr>
                        <td class="w-25">
                            <img src="~/Client/shared/img/carousel-resident_evil_3.jpg" alt="..." class="img-thumbnail">
                        </td>
                        <td>Pokémon Aslan</td>
                        <td><img src="~/Client/shared/img/LogoDS.png" class="game-last-logo" alt="..."></td>
                        <td>40€</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>