@{
    ViewBag.Title = "List Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>



<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Carátula</th>
            <th scope="col">Título</th>
            <th scope="col">Plataforma</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="~/Client/shared/img/carousel-resident_evil_3.jpg" alt="..." class="img-thumbnail"></td>
            <td>Nintendogs edición Aslan</td>
            <td>Nintendo ds</td>
            <td>40€</td>
        </tr>
        <tr>
            <td>[img]</td>
            <td>Pokemon Aslan</td>
            <td>Nintendo Switch</td>
            <td>60€</td>
        </tr>
        <tr>
            <td>[img]</td>
            <td>Ha sido el Lucas</td>
            <td>PC</td>
            <td>20€</td>
        </tr>
    </tbody>
</table>